@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

* {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    color: white;
    resize: none;

    /* Tre "viktige" ting :) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: black;
}

.header {
    font-size: 17vmin; 
    user-select: none;
    margin-top: 0.5vh;
}

.textbox {
    display: block;
    margin: auto;
    margin-top: 0.75vh;
    font-size: 10vmin;
    background-color: rgb(12, 12, 12);
    width: 90vw;
    height: 21vh;
    padding: 3.5vh;
}

.button {
    font-size: 8vmin;
    background-color: rgb(39, 39, 39);
    margin-top: 1vh;
    user-select: none;
}