@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

* {
    font-family: 'IBM Plex Sans', sans-serif;
    text-align: center;
    color: white;
    resize: none;

    /* Tre "viktige" ting :) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    background-color: black;
}

.header {
    font-size: 7vm; 
    user-select: none;
    margin-top: 0.5vm;
}

.textbox {
    display: block;
    margin: auto;
    margin-top: 0.75vm;
    font-size: 75px;
    background-color: rgb(12, 12, 12);
    width: 1500px;
    height: 150px;
    padding: 20px 0;
}

.button {
    font-size: 3vm;
    background-color: rgb(39, 39, 39);
    margin-top: 1vm;
    user-select: none;
}
